@use "sass:map";
@import "variables";
@import "include-media-mixins";
@import "util-functions";
@import "typography-utilities";

.header-container {
    display:block;
    border-bottom:2px solid var(--accent);
    
    @include media('<small') {
        padding-left: vertical-rythm('small', 'txt', 1);
        padding-right: vertical-rythm('small', 'txt', 1);
    }
    @include media('>=small', '<medium') {
        padding-left: vertical-rythm('small', 'txt', 1.5);
        padding-right: vertical-rythm('small', 'txt', 1.5);
    }
    @include media('>=medium', '<large') {
        padding-left: vertical-rythm('base', 'txt', 2);
        padding-right: vertical-rythm('base', 'txt', 2);
    }
    @include media('>=large') {
        padding-left: vertical-rythm('large', 'txt', 2);
        padding-right: vertical-rythm('large', 'txt', 2);
    }
}

.header-inner-container {
    margin-left:auto;
    margin-right:auto;
    margin-top: vertical-rythm('small', 'txt', 0.5);
    margin-bottom: vertical-rythm('small', 'txt', 0.5);
    max-width: map.get($breakpoints, 'medium');
}

.header-home-link {
    text-decoration: none;
    text-shadow: 0 0 0 transparent;
transition: text-shadow $base-transition;
    &:hover, &:focus, &:active {
        text-shadow: 0 0 8px var(--alt-accent);
    }
}

.header-logo {
    display:inline;
    margin-bottom:0;
    font-family: var(--sc-font);
    color: var(--accent);
}

.header-motto {
    display:inline;
    margin-left: 1rem;
    font-family: var(--sc-font);
    @include fluid-typo-size('base', 'h4');
    color: var(--darkest);
}