@use "sass:map";
@import "variables";
@import "include-media-mixins";
@import "util-functions";
@import "typography-utilities";

.generic-layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";

    @include media('<small') {
        column-gap: vertical-rythm('small', 'txt', 1);
        row-gap: vertical-rythm('small', 'txt', 1);
    }
    @include media('>=small', '<medium') {
        column-gap: vertical-rythm('small', 'txt', 1.5);
        row-gap: vertical-rythm('small', 'txt', 1.5);
    }
    @include media('>=medium', '<large') {
        column-gap: vertical-rythm('base', 'txt', 2);
        row-gap: vertical-rythm('base', 'txt', 2);
    }
    @include media('>=large') {
        column-gap: vertical-rythm('large', 'txt', 2);
        row-gap: vertical-rythm('large', 'txt', 2);
    }

    & > header {
        grid-area: header;
    }

    & > main {
        grid-area: content;
        justify-self: center;
        max-width: map.get($breakpoints, 'medium');
        
        @include media('<small') {
            margin-left: vertical-rythm('small', 'txt', 1);
            margin-right: vertical-rythm('small', 'txt', 1);
            width: unquote("calc( 100% - #{ vertical-rythm('small', 'txt', 2) } )");
        }
        @include media('>=small', '<medium') {
            margin-left: vertical-rythm('small', 'txt', 1.5);
            margin-right: vertical-rythm('small', 'txt', 1.5);
            width: unquote("calc( 100% - #{ vertical-rythm('small', 'txt', 3) } )");
        }
        @include media('>=medium', '<large') {
            margin-left: vertical-rythm('base', 'txt', 2);
            margin-right: vertical-rythm('base', 'txt', 2);
            width: unquote("calc( 100% - #{ vertical-rythm('base', 'txt', 4) } )");
        }
        @include media('>=large') {
            margin-left: vertical-rythm('large', 'txt', 2);
            margin-right: vertical-rythm('large', 'txt', 2);
            width: unquote("calc( 100% - #{ vertical-rythm('large', 'txt', 4) } )");
        }
    }

    & > footer {
        grid-area: footer;
    }
}