@use "sass:map";
@use "sass:math";

@function fluid-px-range($start, $end, $min-width, $max-width) {
    $startUnitless: strip-unit($start);
    $endUnitless: strip-unit($end);
    $minWidthUnitless: strip-unit($min-width);
    $maxWidthUnitless: strip-unit($max-width);

    @if $min-width < 0 or $max-width < 0 {
        @error '🔴 fluid-clamp() min-width, max-width parameters should be positive values';
    }
    @if unit($min-width) != unit($max-width) {
        @error '🔴 fluid-clamp() min-width, max-width parameters should be same unit';
    }
    @if unit($start) != unit($end) {
      @error '🔴 fluid-clamp() start, end parameters should be same unit';
    }

    $slope: math.div(($endUnitless - $startUnitless), ($maxWidthUnitless - $minWidthUnitless));
    $intercept: $end - ($slope * $maxWidthUnitless);

    @return unquote("#{ $slope * 100vw } + #{ $intercept }");
}

@function fluid-clamp($start, $end, $min-width, $max-width, $multiplier: 1) {
    @if $end >= $start {
      @return unquote("clamp(#{ $start }, #{ fluid-px-range($start, $end, $min-width, $max-width) }, #{ $end })");
    }
    @else {
      @return unquote("clamp(#{ $end }, #{ fluid-px-range($start, $end, $min-width, $max-width) }, #{ $start })");
    }
}

/* size proprotional to line height */
@function vertical-rythm($type, $tag: 'txt', $custom-multiplier: 1) {
    $type-fluid-font-size: map.get($fluid-font, $type);

    @if not $type-fluid-font-size {
        @error '🔴 vertical-rythm - type is unknown';
    }

    $multiplier: map.get($type-fluid-font-size, lineHeight) * $custom-multiplier * tag-multiplier($tag);
    $start: $multiplier * map.get($type-fluid-font-size, minSize);
    $end: $multiplier * map.get($type-fluid-font-size, maxSize);
    $min-width: map.get($type-fluid-font-size, minWidthFluidRange);
    $max-width: map.get($type-fluid-font-size, maxWidthFluidRange);

    $font-size-fluid: fluid-px-range($start, $end, $min-width, $max-width);

    @if $end >= $start {
        @return unquote("clamp(#{ $start }, #{ fluid-px-range($start, $end, $min-width, $max-width) }, #{ $end })");
    }
    @else {
        @return unquote("clamp(#{ $end }, #{ fluid-px-range($start, $end, $min-width, $max-width) }, #{ $start })");
    }
}

/* get tag multiplier */
@function tag-multiplier($tag) {
    @if $tag == 'txt' {
        @return 1;
    }
    @else {
        @return map.get($tag-multiplier, $tag);
    }
}

/**
 typographic utility mixins 
**/
@mixin fluid-typo-size($type, $tag: 'txt') {
    $type-fluid-font-size: map.get($fluid-font, $type);

    @if not $type-fluid-font-size {
        @error '🔴 fluid-typo-size - type is unknown';
    }

    $tag-multiplier: tag-multiplier($tag);
    $start: $tag-multiplier * map.get($type-fluid-font-size, minSize);
    $end: $tag-multiplier * map.get($type-fluid-font-size, maxSize);
    $min-width: map.get($type-fluid-font-size, minWidthFluidRange);
    $max-width: map.get($type-fluid-font-size, maxWidthFluidRange);

    font-size: fluid-clamp($start, $end, $min-width, $max-width);
    line-height: map.get($type-fluid-font-size, lineHeight);
}
