// PALETTE A - https://coolors.co/177e89-084c61-db3a34-ffc857-323031
$palette-a-colors: ("darkest": #323031, "darker": #084c61, "dark": #177e89, "accent": #db3a34, "alt-accent": #ffc857);

// PALETTE B - https://coolors.co/1a1423-372549-774c60-b75d69-eacdc2
$palette-b-colors: ("darkest": #1a1423, "darker": #372549, "dark": #774c60, "accent": #b75d69, "alt-accent": #eacdc2);

// PALETTE C - https://coolors.co/1f2041-4b3f72-ffc857-119da4-19647e
$palette-c-colors: ("darkest": #1f2041, "darker": #19647e, "dark": #119da4, "accent": #4b3f72, "alt-accent": #ffc857);

// BREAKPOINTS (breakpoints mixin)
$rwd-breakpoints: (
  'small':  ( min-width:  767px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px )
) !default;

// TYPOGRAPHY
$fluid-font: (
  'small': (minSize: 12px, maxSize: 16px, minWidthFluidRange: 767px, maxWidthFluidRange: 1200px, lineHeight: 1.4),
  'base': (minSize: 16px, maxSize: 22px, minWidthFluidRange: 767px, maxWidthFluidRange: 1200px, lineHeight: 1.4),
  'large': (minSize: 24px, maxSize: 32px, minWidthFluidRange: 767px, maxWidthFluidRange: 1200px, lineHeight: 1.4),
  'xlarge': (minSize: 36px, maxSize: 48px, minWidthFluidRange: 767px, maxWidthFluidRange: 1200px, lineHeight: 1.4)
) !default;