@import "variables";
@import "fonts";
@import "breakpoints-mixin";
@import "util-functions";

@import "root";

html,
body {
    padding: 0;
    margin: 0;
    // SS fonts
    // font-family: 'Quicksand', sans-serif;
    // SC fonts
    font-family: 'Great Vibes', cursive;
    font-size: fluid-clamp(16px, 24px, 500px, 1000px);
    line-height: 1.5;
}

footer {
    @include rwd('small') {
        background-color: blue;
    }
    @include rwd('medium') {
        background-color: aquamarine;
    }
    @include rwd('large') {
        background-color: navajowhite;
    }
}
