@import "variables";
@import "fonts";
@import "breakpoints-mixin";
@import "util-functions";

@import "root";

html,
body {
    padding: 0;
    margin: 0;
    // SS fonts
    // font-family: 'Quicksand', sans-serif;
    // SC fonts
    font-family: 'Great Vibes', cursive;
    font-size: fluid-font-size-clamp(24px, 16px, 500px, 1000px);
    //line-height: fluid-clamp(120%, 160%, 500px, 1000px);
}

footer {
    @include rwd('small') {
        background-color: blue;
    }
    @include rwd('medium') {
        background-color: aquamarine;
    }
    @include rwd('large') {
        background-color: navajowhite;
    }
}
