@import "variables";
@import "breakpoints-mixin";

@import "root";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

footer {
    @include rwd('small') {
        background-color: blue;
    }
    @include rwd('medium') {
        background-color: aquamarine;
    }
    @include rwd('large') {
        background-color: navajowhite;
    }
}
